.movieCard {
  position: relative;
  width: 400px;
  height: 600px;
  color: white;
  /*margin-left:750px;
   margin-top: 0px;
margin-bottom: 70px;*/
  background-color: green;
}

.stylemovie3 {
  color: yellowgreen;
}

.cardContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layover {
  width: 100%;
  height: 40%;
  position: absolute;
  /*top: 370px;
  left: 0px;*/
  top: 349px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent white background */
  padding: 20px; /* Add padding for content inside the layover */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure the layover appears above other elements */
}

.myButton1 {
  display: inline-block;
  padding: 5px 10px; /* Adjust padding to change button size */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid white; /* Border color */
  border-radius: 15px; /* Rounded corners */
  background-color: #333; /* Button color */
  color: #fff; /* Text color */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  position: relative;
  left: 70px;
  bottom: 30px;
}

.myButton2 {
  display: inline-block;
  padding: 5px 10px; /* Adjust padding to change button size */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid white; /* Border color */
  border-radius: 15px; /* Rounded corners */
  background-color: #333; /* Button color */
  color: #fff; /* Text color */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  position: relative;
  right: 110px;
  bottom: 30px;
}

.myButton1:hover:hover,
.myButton2:hover:hover,
.buttonStyle:hover {
  background-color: #333; /* Darker shade on hover */
  cursor: pointer;
  outline: none;
  border: 3px solid orange;
}
