/*movieForm style 2 start*/

body {
  margin: 0;
  padding: 0;
}

.containerStyle {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: start !important;
  min-height: 10vh !important;
  margin-top: 10px !important;
  /* background-color: orange;*/
  padding-left: 20px;
  padding-top: 2px;
  /*background-color: green;*/
}

.h1No2 {
  font-size: 30px;
  margin: 0px !important;
  margin-right: 20px !important;
  margin-top: 5px !important;
}

.input2 {
  width: 300px !important;
  height: 25px !important;
  border-radius: 30px !important;
  margin-right: 15px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  font-size: 15px !important;
}

.buttonStyle2 {
  display: none;
  color: white;
  border-radius: 20px !important;
  margin-top: 7px !important;
  margin-right: 0px !important;
  margin-left: 10px !important;
  font-size: 15px !important;
  padding: 0px !important;
  height: 35px !important;
  width: 90px !important;
  border: 2px solid white; /* Border color */
  outline: none;
  /*background-color: #666; /* Button color */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  font-weight: bold;
  background-color: #333;
}

.buttonStyle2:hover {
  color: white;
  background-color: #333; /* Darker shade on hover */
  cursor: pointer;
  outline: none;
  border: 3px solid orange;
}

/*movieForm style 2 end*/

@media screen and (max-width: 600px) {
  .containerStyle {
    padding-left: 10px;
    margin: 0px;
  }
  .h1No2 {
    font-size: 5vw !important;
  }
  .input2 {
    height: 2vh;
  }
}

@media screen and (max-width: 279px) {
  .input2 {
    height: 1vh !important;
    font-size: 5vw !important;
  }

  @media screen and (max-width: 210px) {
  }
}
